# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List of some languages used for data science
+ List of some common libraries used in data science
+ List of some Data Science Tools
+ Some examples of arithemetic expressions in python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. panda
3. ggplot

|Data Science Tools|
|------------------|
|tensorflow|
|jupyter notebook|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [1]:
#This will convert 200 minutes to hours by diving by 60
print(200/60,"hours")

3.3333333333333335 hours

## Author:
Gautam Goyal